

img.logo{
	height: 70px;
	position: relative;
}

.navigation{
	position: fixed;
	width: 102px;
	height: 100%;
	background-color: #F69333;
	transition: 0.5s;
	overflow: hidden;
	z-index: 100;
}

.navigation:hover{
	width: 240px;
}

.navigation.active{
	width: 240px;
}

.navigation ul{
	position: absolute;
	margin-top: 0;
	left: 0;
	width: 100%;
}

.navigation ul li{
	position: relative;
	width: 100%;
	list-style: none;
}

.navigation ul li:hover{
	background-color: hsla(194, 54%, 28%, 0.72);
}

.navigation ul li a{
	position: relative;
	display: block;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: #fff;
}

.navigation ul li a .icon{
	position: relative;
	display: block;
	min-width: 60px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}

.navigation ul li a, .icon, .fas, .far{
	font-size: 20px;
}

.navigation ul li a .title{
	position: relative;
	display: block;
	padding:0 10px;
	height: 60px;
	line-height: 60px;
	text-align: start;
	white-space: nowrap;
}

button.add{
	background-color: #215D6F;
}
button.edit{
		background-color: #F69333;
}
button.del{
	margin-left:20px;

}
button.edit:hover{
		background-color: #cc7623;
}


/* NOtif CSSs */

.cust-notif{
display: flex;
flex-direction: row;
align-items: center;
justify-content:flex-start;
width: 90%;
border-radius:50px;
margin: 30px auto;
background-color: #215D6F;
color: #ebebeb;
}
.body-cust{
	margin-left: 100px;
}
.body-cust p{
	font-weight: 300;
	margin-left: 20px;
}
.body-cust h3{
	font-weight: 800;
}
.highlight{
		background-color: #6c757d;
		color:#fff;
}
/* errore h4 */
h4#error{
  opacity: 0;
  color: #960c0c;
}

.container-notif {
	position: fixed;
	top: 0;
	left: 0;
		width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.notif-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 30px;
}

  p {
	font-weight: bold;
    margin-bottom: 40px;
    font-size: 18px;
  }
  button.accept {
    background-color: #ed6755;
    border: none;
    border-radius: 5px;
    width: 200px;
    padding: 14px;
    font-size: 16px;
    color: white;
    box-shadow: 0px 6px 18px -5px rgba(237, 103, 85, 1);
  }


/* add task */
.addtask-notif,.edittask-notif{
	position: fixed;
	top: 0;
	left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  height: 100vh;
	width: 100%;
}

.addtask-content, .edittask-content {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  color: #000;
  text-align: center;
  border-radius: 20px;
  padding: 30px 30px 70px;
}
form{
	width: 100%;
}

/* custom table */
table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
th,
td {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #fff;
}
th {
  text-align: left;
}
thead th {
  background-color: #215D6F;
}
tbody tr:hover {
background-color: rgba(150, 150, 150, 0.1);
}
tbody td {
				color:#333;
  position: relative;

}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  bottom: -9999px;
	background-color: rgba(150, 150, 150, 0.1);
  z-index: -1;
}
tbody td:hover{
	background-color: rgba(0, 0, 0	, 0.5	);
	color:#fff;
	}
